# فایل‌های موقتی و لاگ
*.log
build_err.log
build_run.log
install_*.txt
logcat_*.txt
fix_run.ps1
org/

# تنظیمات ویرایشگر
.vscode/

# Gradle و فایل‌های ساخت
.gradle/
build/
app/build/
app/.cxx/
local.properties
*.iml
*.iws
*.ipr

# Android Studio
.idea/
.cxx/
captures/